<%= render "shared/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
  <div class="container">
    <h1>NUGGET <strong>share your favourites</strong> with <strong>your favourites</strong>!</h1>
    <p>A place to store your favourite things and share with your favourite people</p>
  </div>
</div>

<br>
<br>
<br>

<ul>
<div class="cards pt-3" style="margin-left: 70px">
  <% @categories.each do |category| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <li><%= link_to category.title, category_path(category), class:"card-category" %></li>
    </div>
  <% end %>
</div>
</ul>
<br>
<div style="margin-left: 520px">
  <%= link_to "Add New Category", new_category_path(@categories), class: "btn-flat btn-lg"%>
</div>
<br>
<br>
<br>
<%= render "shared/footer" %>
