
<%= render "shared/navbar" %>
<div class="banner-new" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1622037022824-0c71d511ef3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>NUGGET <strong>share your favourites</strong> with <strong>your favourites</strong>!</h1>
    <p>A place to store your favourite things and share with your favourite people</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class= "content-container">
  <div class= "form">
    <%= render "shared/form", category: @category %>
  </div>
</div>
<br>

<%= link_to "Back", :back %>
<%= render "shared/footer" %>
