<h2><%= @category.title %></h2>

<%= link_to "Add New", new_category_sub_category_path(@category) %>


<%# <%= link_to "Delete",
  sub_category_path(@sub_category),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
