<h2><%= @category.title %></h2>

<ul>
<div class="cards pt-3">
  <% @category.sub_categories.each do |sub_category| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <li><%= link_to sub_category.name, category_sub_category_path(sub_category) %></li>
    </div>
  <% end %>
</div>
</ul>

<%= link_to "Add New", new_category_sub_category_path(@category) %>




<%# <%= link_to "Delete",
  sub_category_path(@sub_category),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
